UP_OPTIONS=-d
COMPOSE_OPTIONS=--env-file=/dev/null -f docker-compose.yaml

#
# Recommended macos variables
#
#COMPOSE_OPTIONS=--env-file=/dev/null -f docker-compose.yaml -f docker-compose.macosx.yaml
#COMPOSE_BINARY=mutagen
